In [1]:
import pandas as pd
import numpy as np

In [35]:
data=pd.read_csv('Sales_add.csv')

In [4]:
data.head()

,Month,Region,Manager,Sales_before_digital_add(in $),Sales_After_digital_add(in $)
0,Month-1,Region - A,Manager - A,132921,270390
1,Month-2,Region - A,Manager - C,149559,223334
2,Month-3,Region - B,Manager - A,146278,244243
3,Month-4,Region - B,Manager - B,152167,231808
4,Month-5,Region - C,Manager - B,159525,258402

In [5]:
data.columns

Index(['Month', 'Region', 'Manager', 'Sales_before_digital_add(in $)',
       'Sales_After_digital_add(in $)'],
      dtype='object')

# ● The company wishes to clarify whether there is any increase in sales after stepping into digital marketing.

In [6]:
#null hypothesis = there is no increase in sales after stepping into digital marketing.
#Alternative hypthesis = there is increase in sales after stepping into digital marketing.

In [7]:
import scipy.stats as stats

In [8]:
SalesBD=data['Sales_before_digital_add(in $)']
SalesAD=data['Sales_After_digital_add(in $)']

In [11]:
stats.shapiro(SalesBD)

ShapiroResult(statistic=0.9306764006614685, pvalue=0.12674309313297272)

In [10]:
stats.shapiro(SalesAD)

ShapiroResult(statistic=0.9702128767967224, pvalue=0.7159645557403564)

In [12]:
#The p value of salesBD and SalesAD is more than 0.05 so the distribution is normal.

In [15]:
stats.levene(SalesBD,SalesAD,center='mean')

LeveneResult(statistic=5.171664124853503, pvalue=0.028130575490495715)

In [14]:
#since p value less than 0.05 we want to use welch test(It is not equally variant)

In [16]:
stats.ttest_ind(SalesBD,SalesAD,equal_var= False)

Ttest_indResult(statistic=-12.995084451110877, pvalue=1.1019671619608604e-14)

In [17]:
#p value less than .05 we want to reject null hypothesis
#so the result is 'Alternative hypthesis = there is increase in sales after stepping into digital marketing'.

# ● The company needs to check whether there is any dependency between the features“Region”and“Manager”.

In [18]:
#null hypothesis = variables are independent
#Alterantive hypothesis = variables are dependent

In [29]:
from scipy.stats import chi2_contingency

In [30]:
crosstab = pd.crosstab(data['Region'],data['Manager'])
crosstab

Manager     Manager - A  Manager - B  Manager - C
Region
Region - A            4            3            3
Region - B            4            1            2
Region - C            1            3            1

In [31]:
Cgency = chi2_contingency(crosstab)
Cgency

(3.050566893424036,
 0.5493991051158094,
 4,
 array([[4.09090909, 3.18181818, 2.72727273],
        [2.86363636, 2.22727273, 1.90909091],
        [2.04545455, 1.59090909, 1.36363636]]))

In [34]:
critical_value = stats.chi2.ppf(0.95,4)
critical_value

9.487729036781154

In [ ]:
#Statiscal value less than than critical value we accept null hypothesis 'variables are independent'